/* h1{
    color: purple;;
}

#header1{
    color: greenyellow;
} */

/* p{
    color: blue;
} */


/* #latest { 
    background-color: purple; 
  } */ 

/* .navigation {
    margin: 2px;
} */
/* 

p.introduction { 
    margin: 2px;
  } */
/* 
  #blog div h1 {
    color: blue;
  } */

  /* Esta parte es del titulo latest news*/
  /* #blog h1 {
    color: blue;
  } */

  /* #blog > h1 {
    color: blue;
  }

  a:hover {
    color: orange;
  } */

